* {
    margin: 0px;
    padding: 0px;
    font-family: 'Figtree', sans-serif;
}

body {
    height: 900px;
    /* width: 1440px; */
    background-color: hsl(212, 45%, 89%);
}

body, main, .imgCard, .titleCard, .subTCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 500px;
}

.card {
    /* display: grid;
    grid-template-rows: 1fr 100px 100px; */
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

.imgCard img {
    border-radius: 10px;
    width: 450px;
}

.titleCard {
    color: hsl(218, 44%, 22%);
    padding: 30px 20px 10px 20px;
}

.titleCard h1 {
    font-weight: 700;
}

.subTCard {
    color: hsl(216, 15%, 48%);
    padding: 10px 20px 10px 20px;
}

.subTCard p {
    font-weight: 500;
    font-size: 25px;
}

/* .attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */

@media (max-width: 375px) {
}